@font-face {
	font-family: "Marck-Script";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Marck-Script"), url("../fonts/Marck-Script.woff2") format("woff2"),
		url("../fonts/Marck-Script.woff") format("woff");
}

@font-face {
	font-family: "Roboto-400";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Roboto-400"), url("../fonts/Roboto-Regular.woff2") format("woff2"),
		url("../fonts/Roboto-Regular.woff") format("woff");
}
