@font-face {
	font-family: "Hairline-Regular";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Hairline-Regular"), url("../fonts/Hairline-Regular.woff2") format("woff2"),
		url("../fonts/Hairline-Regular.woff") format("woff");
}

@font-face {
	font-family: "Marck-Script";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Marck-Script"), url("../fonts/Marck-Script.woff2") format("woff2"),
		url("../fonts/Marck-Script.woff") format("woff");
}
