@font-face {
	font-family: "MarckScript-Regular";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("MarckScript-Regular"), url("../fonts/MarckScript-Regular.woff2") format("woff2"),
		url("../fonts/MarckScript-Regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat-400";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat-600";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../fonts/Montserrat-Bold.woff") format("woff");
}
