$accent: #ddcb03;
$default: #333;
$title: #3581d5;
$hover: #fc3a3d;

%hairline-regular {
	font-family: "Hairline-Regular", sans-serif;
}

%marck-script {
	font-family: "Marck-Script", sans-serif;
}

%roboto-400 {
	font-family: "Roboto-400", sans-serif;
}
