$accent: #ddcb03;
$default: #333;
$title: #3581d5;
$hover: #fc3a3d;

%marck-script {
	font-family: "MarckScript-Regular", sans-serif;
}

%montserrat-400 {
	font-family: "Montserrat-400", sans-serif;
	font-weight: 400;
}

%montserrat-600 {
	font-family: "Montserrat-600", sans-serif;
	font-weight: 600;
}
